<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Hibernate, Relational Persistence for Idiomatic Java
  ~
  ~ License: GNU Lesser General Public License (LGPL), version 2.1 or later.
  ~ See the lgpl.txt file in the root directory or <http://www.gnu.org/licenses/lgpl-2.1.html>.
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="connection.username">root</property>
		<property name="connection.password">root</property>
        
        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <!-- language that specify how hibernate will execute query -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <!-- if you dont want peviously created table to drop. You can change create to update -->
        <property name="hbm2ddl.auto">create</property>



<!-- 1 -->
<!--  
        <mapping class="Simple_Hibernate_Example.UserDetails"/>
-->        
        
<!-- 2 -->
<!--    
		<mapping class="More_Annotation.UserDetails"/>
-->

<!-- 3 -->
<!--  
		<mapping class="Primary_Keys.UserDeta"/>
-->

<!-- 4 -->
<!--  
	<mapping  class="Value_Type_and_Embedding_Object.UserClass"  />
-->

<!-- 5 -->
<!--  
	<mapping class="AttributeOverrides_and_Embedded_Object_Keys.UserClass"/>
-->


<!-- 6 -->
<!--  
	<mapping class = "Saving_Collection.UserClass" />
-->

<!-- 7 -->
<!--  
	<mapping class="One_To_One_Mapping.UserClass"/>
	<mapping class="One_To_One_Mapping.Vehicle"/>
-->


<!-- 8 -->
<!--  
	<mapping class="One_To_Many.UserClass"/>
	<mapping class="One_To_Many.Vehicle"/>
-->


<!-- 9 -->
<!--  
	<mapping class="One_To_Many_No_Extra_Table.UserClass"/>
	<mapping class="One_To_Many_No_Extra_Table.Vehicle"/>
-->



<!-- 10 -->
<!--  
	<mapping class="Many_To_Many.UserClass"/>
	<mapping class="Many_To_Many.Vehicle"/>
-->



<!-- 11 -->
<!--  
	<mapping class="Cascade_Types.UserClass"/>
	<mapping class="Cascade_Types.Vehicle"/>
-->


<!-- 12 -->
<!--  
	<mapping class="Inheritance_Single_Table.Vehicle"/>
	<mapping class="Inheritance_Single_Table.TwoWheeler"/>
	<mapping class="Inheritance_Single_Table.FourWheeler"/>
-->

<!-- 13 -->
<!--  
	<mapping class="Inheritance_Table_Per_Class.Vehicle"/>
	<mapping class="Inheritance_Table_Per_Class.TwoWheeler"/>
	<mapping class="Inheritance_Table_Per_Class.FourWheeler"/>
-->

	
<!-- 14 -->	
<!--  
	<mapping class="Inheritance_with_Joined_Strategy.Vehicle"/>
	<mapping class="Inheritance_with_Joined_Strategy.TwoWheeler"/>
	<mapping class="Inheritance_with_Joined_Strategy.FourWheeler"/>
-->


<!-- 15 CRUD -->	
	
	<mapping class="CRUD.UserClass" />
	
	


    </session-factory>

</hibernate-configuration>